* {outline: none;}

* {-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 
   box-sizing: 
   border-box;
 
   outline: 
   none;
}
a{text-decoration: none !important;}

   /************************************************************************************
 
   RESET

   *************************************************************************************/
 
html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,

h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small, 
span,
strong,
sub,
sup, 
tt,
var,
legend,
fieldset {
   margin: 0;
   padding: 0;
}
img,
fieldset {
   border: none;
}
 /* set image max width to 100% */
img {
   max-width: 100%;
   height: auto;
/*width:auto\9;*/ /* ie8 */
} 
/* set html5 elements to block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 
   display: 
   block;

    }
    .pt-10 { padding-top: 10px; }
    .pt-20 { padding-top: 20px; }
    .pt-30 { padding-top: 30px; }
    .pt-40 { padding-top: 40px; }
    .pt-50 { padding-top: 50px; }
    .pt-60 { padding-top: 60px; }
    .pt-70 { padding-top: 70px; }
    .pt-80 { padding-top: 80px; }
    .pt-90 { padding-top: 90px; }
    .pt-100 { padding-top: 100px; }
    
    .pb-10 { padding-bottom: 10px; }
    .pb-20 { padding-bottom: 20px; }
    .pb-30 { padding-bottom: 30px; }
    .pb-40 { padding-bottom: 40px; }
    .pb-50 { padding-bottom: 50px; }
    .pb-60 { padding-bottom: 60px; }
    .pb-70 { padding-bottom: 70px; }
    .pb-80 { padding-bottom: 80px; }
    .pb-90 { padding-bottom: 90px; }
    .pb-100 { padding-bottom: 100px; }
    
    .mt-10 { margin-top: 10px; }
    .mt-20 { margin-top: 20px; }
    .mt-30 { margin-top: 30px; }
    .mt-40 { margin-top: 40px; }
    .mt-50 { margin-top: 50px; }
    .mt-60 { margin-top: 60px; }
    .mt-70 { margin-top: 70px; }
    .mt-80 { margin-top: 80px; }
    .mt-90 { margin-top: 90px; }
    .mt-100 { margin-top: 100px; }

    .mb-10 { margin-bottom: 10px; }
    .mb-20 { margin-bottom: 20px; }
    .mb-30 { margin-bottom: 30px; }
    .mb-40 { margin-bottom: 40px; }
    .mb-50 { margin-bottom: 50px; }
    .mb-60 { margin-bottom: 60px; }
    .mb-70 { margin-bottom: 70px; }
    .mb-80 { margin-bottom: 80px; }
    .mb-90 { margin-bottom: 90px; }
    .mb-100 { margin-bottom: 100px; }

    .pr { padding-right: 15px; }
    .pl { padding-left: 15px; }


.other-page-padding { padding: 60px 0; }

.pb-sm, .pb-xs {padding-bottom: 0;}
.fa {font-family: 'FontAwesome' !important;}
.fas, .fab {font-family: 'Font Awesome 5 Free';}
   /************************************************************************************
   GENERAL STYLING
  
   *************************************************************************************/
body{
   margin: 0;
   padding: 0;
   font-family: 'GT Walsheim';
   font-size: 16px;
   font-weight: normal;
   text-decoration: none;
   color: #000000;
   position: relative;
}	
a {font-size: 15px;
   font-weight: normal;
   line-height: normal;
   text-decoration: none;
   color:#7a7a7a;
   outline: none;
   -webkit-transition: all 0.40s ease 0s;
   -moz-transition: all 0.40s ease 0s;
   transition: all 0.40s ease 0s;
 }
 a:hover {
  text-decoration: none;
  color: #104090;
 }
 button:focus{
   outline: 0 !important;
}
 ul{
   list-style: none;
   padding-left: 0;
 }

 header {
   padding: 20px 0px;
}
.toggle-menu-desktop img {
   width: 18px;
}
.main-header-warrper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 30px;
}
.site-logo img {
   width: 130px;
   height: auto;
}
.site-search-bar {
   width: 64%;
   max-width: 670px;
}
.card-section.section-padding {
   padding-top: 30px;
}
.how-it-data img {
   width: 55px;
   height: 55px;
}
.toggle-menu-desktop {
   border: 1px solid #ccc;
   width: 45px;
   height: 45px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button-wapper {
   display: flex;
   align-items: center;
}
.register-login {
   margin-right: 30px;
}
.register-login svg {
   width: 31px;
   height: 24px;
}
.input-search-warrper {
   display: flex;
   align-items: center;
   border: 1px solid #e2e2e4;
   border-radius: 10px;
   justify-content: space-between;
   position: relative;
   box-shadow: 0px 8px 10px 7px #00000012;
}
.main-warrper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   cursor: pointer;
}
.menu-item {
   width: 33.33%;
}
.menu-item a {
   border-right: 1px solid #e2e2e4;
   display: block;
   padding: 14px 22px;
   position: relative;
   color: #7a7a7a;
}
.menu-item a:after {
   background-image: url(../img/chevron-down.svg);
   content: '';
   width: 15px;
   height: 15px;
   position: absolute;
   top: 17px;
   right: 8px;
   background-size: 15px;
   background-position: center center;
   background-repeat: no-repeat;
}
.input-search-warrper button svg {
   color: #ffffff;
   width: 35px;
   height: 23px;
}
.main-warrper .menu-item:last-child a {
   padding-right: 10px;
   border-right: 0px;
}
.main-warrper .menu-item:last-child a:after {
   right: 5px;
}
.input-search-warrper button {
   border: 0px;
   background-color: #22d16c;
   position: relative;
   right: -6px;
   width: 49px;
   height: 50px;
   border-radius: 10px;
   top: 0px;
}
.search_drop {
   position: absolute;
   top: 56px;
   left: 0;
   width: 100%;
   background-color: #ffff;
   border-radius: 10px;
   padding: 30px;
   z-index: 9;
}
.fiter-lable-header h4 {
   font-size: 20px;
   margin-bottom: 17px;
}
.filter-area-header {
   display: flex;
   align-items: center;
   width: 100%;
}
.filter-area-header .input-filter-min, .filter-area-header .input-filter-max {
   width: 100%;
   padding: 12px;
   border-radius: 10px;
   border: 1px solid #ccc;
   min-height: 50px;
   max-height: 50px;
}
.top-header-diffreance h4 {
   font-size: 18px;
   margin: 0 20px;
   color: #999999;
}
.read-more.budget-btn-header {
   width: auto;
   height: auto;
   right: 0;
   margin-left: 13px;
   padding: 6px 30px;
   min-height: 50px;
}

.review-romo-top {
   position: relative;
   margin-bottom: 60px;
}
.romo-review-data .owl-nav {
   position: absolute;
   top: -43px;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 0px !important;
}
.input-search-warrper .owl-nav button {
   background-color: #22d16c !important;
   position: relative;
   right: 0;
   border: 1px solid #22d16c !important;
   width: 30px;
   height: 30px;
   border-radius: 50% !important;
   top: 0px;
   color: #ffffff !important;
   font-size: 13px !important;
   z-index: 99999 !important;
   margin: 0px !important;
}
.romo-map-image {
   padding-right: 30px;
}
.input-search-warrper .owl-nav button.owl-next.disabled {
   border: 1px solid #ccc !important;
   background-color: transparent !important;
   color: #000000 !important;
}
.input-search-warrper .owl-nav button.owl-prev.disabled {
   border: 1px solid #ccc !important;
   background-color: transparent !important;
   color: #000000 !important;
}
.main-label-title ul li:first-child h4 {
   font-weight: bold;
   color: #222222;
}
.review-romo-top input {
   width: 100%;
   padding: 17px 10px 17px 35px;
   border-radius: 15px;
   border: 1px solid #ccc;
   color: #636363;
   font-family: 'GT Walsheim';
}
.input-search-warrper .review-romo-top button {
   position: absolute;
   left: 13px;
   background-color: transparent;
   width: 17px;
   height: 17px;
   top: 20px;
}
.input-search-warrper .review-romo-top button svg {
   color: #ffffff;
   width: 16px;
   height: 16px;
}
.romo-map-image img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
   object-fit: cover;
}
.input-search-warrper .review-romo-top button path {
   fill: #636363;
}
.main-label-title h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}
.main-label-title ul li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}
.main-label-title h4 {
   font-size: 20px;
   color: #636363;
}
.main-label-title img {
   width: 13px !important;
   display: inline-block !important;
}
.review-star-header span {
   width: 21px;
   display: inline-block;
   font-size: 15px;
   margin-left: 3px;
}
.main-label-title ul li:last-child {
   margin-bottom: 0px;
}
.romo-review-data .main-label-title {
   margin-top: 32px;
   border-top: 1px solid #e5e5e5;
   padding-top: 27px;
}
.romo-review-data .main-label-title:first-child {
   margin-top: 0px;
   padding-top: 0px;
   border-top: 0px;
}
/* Silder collection css start */

.collection-icon-wapper {
   padding-right: 50px;
   position: relative;
}
.featured-warrper {
   text-align: center;
}
.owl-carousel .owl-item .featured-warrper a:hover img {
   display: none;
}

.owl-carousel .owl-item .featured-warrper a:hover img + img {
   display: block;
}
.owl-carousel .owl-item .featured-warrper a img + img {
   display: none;
}

.featured-warrper a {
   font-size: 13px;
   padding-bottom: 20px;
   display: block;
   position: relative;
   height: 100%;
   font-weight: 500;
   line-height: 100%;
   
}
.featured-warrper a:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: transparent;
   bottom: 0px;
   left: 0;
}
.featured-warrper a:hover {
   color: #000000;
}
.featured-warrper.active-filter a:after {
   background-color: #22d16c;
}
.owl-carousel .owl-item .featured-warrper.active-filter a:hover img {
   display: none;
}
.owl-carousel .owl-item .featured-warrper.active-filter a:hover img + img {
   display: block;
}
.owl-carousel .owl-item .featured-warrper.active-filter img + img {
   display: block;
}
.owl-carousel .owl-item .featured-warrper.active-filter img {
   display: none;
}
.ui-datepicker-header a.ui-corner-all {
   cursor: pointer;
}
.featured-warrper img {
   width: 40px !important;
   height: auto;
   text-align: center;
   margin: 0 auto 10px;
   transform: scale(1.2);
}
.collection-icon-wapper .featured-silder .owl-nav {
   margin-top: 0px;
   position: absolute;
   top: 16px;
   right: -75px;
}
.collection-icon-wapper .featured-silder .owl-nav button.owl-prev {
   position: relative;
   right: 0px;
}

.collection-icon-wapper .featured-silder .owl-nav button {
   border: 1px solid #f4f4f4 !important;
   color: #000000 !important;
   width: 40px;
   height: 40px;
   border-radius: 5px;
   margin: 0 !important;
}
.collection-icon-wapper .featured-silder .owl-nav button.owl-prev.disabled, .collection-icon-wapper .featured-silder .owl-nav button.owl-next.disabled {
   display: none;
}
.collection-icon-wapper .featured-silder .owl-nav button:hover {
   background-color: transparent !important;
}
.filter-icon a img {
   width: 17px;
   margin-bottom: 0px;
   margin-right: 6px;
}
.main-header .col-lg-1 {
   flex: 0 0 auto;
   width: 12%;
}
.main-header .col-lg-11 {
   flex: 0 0 auto;
   width: 88%;
}
.filter-icon {
   text-align: center;
   display: flex;
   align-items: center;
   height: auto;
   justify-content: center;
   padding-top: 14px;
}
.filter-icon a {
   display: flex;
   align-items: center;
   padding: 10px 12px;
   background-color: f4f4f4;
   border-radius: 7px;
   font-size: 17px;
   font-weight: 500;
   color: #000;
   width: 85%;
   text-align: center;
   justify-content: center;
   margin-left: auto;
}
.filter-section {
   /* padding: 30px 0px 0px; */
   /* border-bottom: 1px solid #e5e5e5; */
}
.menu-item.budget-active a:after {
   transform: rotate(180deg);
}
.menu-item.budget-active {
   position: relative;
   pointer-events: none;
}
.main-header.sticky .menu-item.budget-active:before {
   content: '';
   width: 100%;
   height: 2px;
   background-color: #7cb4c8;
   position: absolute;
   bottom: -31px;
}
.main-header.sticky .search_drop {
   top: 81px;
}
.main-header.sticky .menu-item.budget-active:after {
   content: '';
   width: 15px;
   height: 15px;
   background-color: #7cb4c8;
   position: absolute;
   bottom: -39px;
   transform: rotate(45deg);
   right: 0;
   left: 0;
   margin: 0 auto;
}
.main-header.without-filter-header {
   padding-bottom: 20px;
}
.section-padding {
   padding: 70px 0px;
}

.poster-album {
   position: relative;
   overflow: hidden;
   border-radius: 15px;
}
.poster-album img {
   width: 100%;
   height: auto;
}
.poster-album span {
   position: absolute;
   bottom: 15px;
   left: 15px;
   background-color: #f7f7f7;
   padding: 11px 23px 7px;
   color: #5bdb90;
   font-size: 21px;
   font-weight: bold;
   border-radius: 10px;
   line-height: 100%;
   z-index: 1;
}
.poster-item h4 {
   font-size: 19px;
   line-height: 28px;
   font-weight: bold;
}
.poster-item {
   margin: 35px 0px 60px;
}
.poster-item span {
   font-size: 15px;
   margin: 10px 0px;
   display: flex;
   align-items: center;
   font-weight: 500;
   color: #152738;
}
.poster-item span svg {
   margin-right: 4px;
}
.poster-album img {
   transition: 0.5s;
}

.poster-warrper:hover .poster-album img {
   transform: scale(1.1);
}
.poster-warrper {
   transition: 0.5s;
}
.poster-item p {
   font-size: 20px;
   color: #636363;
   line-height: 24px;
}
.poster-warrper .owl-dots {
   margin-top: 0px !important;
   position: absolute;
   bottom: 28px;
   right: 12px;
   background-color: transparent;
}
.owl-dots button {
   background-color: #ffffff !important;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   margin: 0px 2px;
   transition: 0.5s;
}
.owl-dots button.owl-dot.active {
   width: 15px;
   border-radius: 10px;
}
.poster-album .owl-dots button span {
   width: 0px !important;
   background-color: transparent !important;
   margin: 0px !important;
   padding: 0px !important;
   height: 0px !important;
}
.poster-warrper figure {
   margin-bottom: 0px;
}
.poster-warrper-item {
   height: calc(100% - 60px);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: relative;
   overflow: hidden;
   width: 100%;
}
.contact-us-data {
   position: relative;
}
.poster-warrper-item:before {
   content: '';
   background-color: #000000;
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: .2;
   left: 0;
   top: 0;
}
.read-more {
   padding: 12px 30px;
   color: #fff;
   background-color: #22d16b;
   border-radius: 10px;
   font-size: 23px;
   font-weight: bold;
   transition: 0.5s;
}
.know-more {
   display: inline-flex;
   padding: 10px 30px;
   border: 1px solid #ccc;
   align-items: center;
   justify-content: center;
   line-height: 120%;
   border-radius: 10px;
   font-weight: bold;
   color: #000000;
   font-size: 23px;
   transition: 0.5s;
}
.know-more:hover{
color: #5bdb90;
}
.billboard-warrper {
   position: relative;
}
.billboard-warrper img {
   width: 100%;
   height: auto;
   min-height: 560px;
   object-fit: cover;
   border-radius: 20px;
}
.billboard-data {
   width: 52%;
   margin-left: auto;
   padding-top: 50px;
   padding-right: 50px;
   position: absolute;
   top: 0;
   right: 0;
}
.main-title {
   padding-bottom: 50px;
}
.main-title h2 {
   font-size: 50px;
   font-weight: bold;
}
.faq-section .main-title h2 {
   font-size: 2.09rem;
}
.campaign-section.section-padding {
   padding: 70px 0px 0px;
}
.campaign-section .poster-item {
   margin-bottom: 0px;
}
.billboard-data h2 {
   font-size: 53px;
   color: #fff;
   line-height: 110%;
}
.read-more.bill-btn {
   display: inline-block;
   margin-top: 40px;
}
.know-more img {
   width: 100%;
   max-width: 20px;
   margin-right: 12px;
}
.loading-button {
   text-align: center;
}
.read-more.home-contactus {
   margin-top: 35px;
   display: inline-block;
}
.read-more:hover {
   background-color: #162737;
   color: #ffffff;
}
.contact-us-data h2 {
   color: #fff;
   font-size: 34px;
   font-weight: bold;
}
.main-title-headig h2 {
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 50px;
}
.how-it-data p {
   font-size: 19px;
   line-height: 22px;
   color: #636363;
}

.how-it-data h3 {
   font-size: 28px;
   margin-bottom: 30px;
}

.how-it-data {
   text-align: center;
}
.counter-box:after {
   content: '';
   width: 106%;
   height: 2px;
   border: 2px dotted #ccc;
   position: absolute;
   left: 0;
   top: 18px;
   z-index: 0;
}

.how-section .row .col-12:last-child .counter-box:after {
   width: 50%;
   height: 2px;
   border: 2px dotted #ccc;
   position: absolute;
   left: 0;
   top: 18px;
   z-index: 0;
}
.how-section .row .col-12:first-child .counter-box:after {
   width: 50%;
   height: 2px;
   border: 2px dotted #ccc;
   position: absolute;
   left: auto;
   top: 18px;
   z-index: 0;
}
.counter-box {
   margin: 50px 0px;
   position: relative;
}
.counter-box span {
   font-size: 20px;
   border: 2px dotted #ccc;
   width: 40px;
   height: 40px;
   display: inline-block;
   line-height: 37px;
   border-radius: 50%;
   color: 7cb4c8;
   background-color: #ffffff;
   position: relative;
   z-index: 1;
}
.faq-image img {
   width: 100%;
   height: auto;
   border-radius: 20px;
}
.accoudian-data {
   padding-left: 30px;
}
.faq-image {
   padding-right: 22px;
}
.accoudian-data .accordion-item {
   margin-bottom: 20px;
   border-top: 1px solid rgba(0,0,0,.125);
   border-radius: 15px;
}
.accoudian-data .accordion-item .accordion-button {
   background: transparent;
   padding-left: 20px;
   font-size: 22px;
   color: #636363;
   font-weight: 500;
}
.accoudian-data .accordion-item .accordion-collapse{
   background-color: #152738;
   color: #fff;
   border-radius: 0px 0px 15px 15px;
}
.accoudian-data .accordion-item .accordion-button:not(.collapsed) {
   background-color: 152738;
   border-radius: 15px 15px 0px 0px;
   color: #fff;
}
.accoudian-data .accordion-item .accordion-collapse .accordion-body {
   padding-top: 0px;
   padding-bottom: 30px;
   padding-left: 40px;
   padding-right: 30px;
}
.accoudian-data .accordion-item .accordion-button[aria-expanded="true"]:before {
   color: #1d9d5b;
}
.accoudian-data .accordion-item .accordion-button:before {
   content: '\f059';
   font-family: 'Font Awesome 5 Free';
   margin-right: 7px;
}
.accoudian-data .accordion-button::after{
   background-image: url(../img/arrow-down-short.svg);
    background-size: 26px;
    position: relative;
    top: -4px;
}
.accoudian-data .accordion-button:not(.collapsed)::after {
   background-image: url(../img/arrow-down-short-green.svg);
   left: 6px;
}
footer {
   padding: 100px 0px 50px;
   background-color: #0f1b27;
}

.footer-menu h4 {
   font-size: 20px;
   color: #fff;
   margin-bottom: 40px;
   font-weight: bold;
}
.footer-menu ul li:last-child a {
   margin-bottom: 0px;
}
.accordion-button:focus {
   border-color: transparent !important;
   box-shadow: none !important;
}
.footer-menu ul li a {
   color: #abb5be;
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 20px;
   display: block;
}
.categories-footer-menu.footer-menu h4 {
   display: block;
   width: 100%;
}
.categories-footer-menu.footer-menu ul {
   width: 50%;
}
.categories-footer-menu.footer-menu {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
}
.categories-footer-menu.footer-menu ul:first-child {
   padding-right: 10px;
}
.copy-right-data p span {
   color: #ffffff;
}
.copyright {
   text-align: left;
   border-top: 1px solid #27323d;
   padding-top: 25px;
   margin-top: 90px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.copy-right-data p {
   font-size: 18px;
   color: #abb5be;
}
.copy-right-data {
   display: flex;
   align-items: center;
}
.copy-right-data a {
   font-size: 18px;
   color: #abb5be;
   margin-left: 40px;
   padding-left: 40px;
   border-left: 1px solid #38444f;
}
.register-login img {
   width: 20px;
}
.social-media ul li a {
   width: 50px;
   height: 50px;
   display: flex;
   border: 1px solid #323d47;
   color: #fff;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   font-size: 18px;
   margin-left: 10px;
}

.social-media ul {
   display: flex;
   align-items: center;
}
.main-header.sticky {
   position: fixed;
   width: 100%;
   height: auto;
   left: 0;
   top: 0;
}
.main-header.sticky .filter-section {
   display: none;
}

/* Result page css */
.main-header {
   border-bottom: 1px solid #e5e5e5;
   padding-bottom: 0px;
   position: relative;
   z-index: 11;
   background-color: #fff;
}
.overlay-div {
   position: relative;
}
.overlay-div:before {
   content: '';
   width: 100%;
   height: 100%;
   background-color: #2d3d4c;
   position: absolute;
   left: 0;
   z-index: 3;
   opacity: 0.9;
}
.overlay-div-new {
   position: relative;
}
.overlay-div-new:before {
   content: '';
   width: 100%;
   height: 100%;
   background-color: #2d3d4c;
   position: absolute;
   left: 0;
   z-index: 3;
   opacity: 0.9;
}
.overlay-div-new-date {
   position: relative;
}
.overlay-div-new-date:before {
   content: '';
   width: 100%;
   height: 100%;
   background-color: #2d3d4c;
   position: absolute;
   left: 0;
   z-index: 3;
   opacity: 0.9;
}
.input-search-warrper button.custom-date-button {
   background-color: #ffffff;
   border: 1px solid #636363;
   width: auto;
   padding: 8px 20px;
   height: auto;
   right: 0;
   margin-right: 8px;
   color: #636363;
   transition: 0.5s;
}
.input-search-warrper button.custom-date-button:hover{
   background-color: #22d16c;
   color: #ffffff;
   border-color:#22d16c;
}
.input-search-warrper button.custom-date-button.active-date-point {
   background-color: #f2f2f2;
   border-color: transparent;
}
.input-search-warrper button.custom-date-button.active-date-point:hover{
   color: #636363;
}
.activity-data {
   display: flex;
   align-items: flex-end;
   padding-bottom:33px;
   justify-content: space-between;
}
.activity-image img {
   width: 100%;
   height: auto;
   border-radius: 20px;
}
.actvity-item h2 {
   font-size: 26px;
   font-weight: bold;
   margin-bottom: 5px;
}
.actvity-item p {
   font-size: 15px;
   color: #636363;
   line-height: 22px;
}
.total-activity p {
   font-size: 15px;
   color: #636363;
   line-height: 22px;
}
.activity-filter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 45px;
}
.activity-data-title h2 {
   font-size: 26px;
   font-weight: bold;
}
.activity-filter .filter-icon {
   padding-top: 0px;
}
.activity-filter .filter-icon a {
   padding: 10px 20px;
   width: 100%;
}
.read-more.add-campaign-btn {
   font-size: 17px;
   color: #7cb4c8;
   background-color: transparent;
   border: 1px solid #ccc;
   padding: 11px 20px;
   display: inline-block;
   margin-top: 10px;
}

.poster-warrper-activity {
   transition: 0.5s;
   border-radius: 15px;
   margin: 20px 5px 0px 10px;
   padding: 10px 10px 25px 10px;
}
.poster-warrper-activity:hover {
   padding: 10px 10px 25px 10px;
   background-color: #fff;
   box-shadow: 1px 1px 20px 9px #0000000d;
}
.poster-album-activity {
   position: relative;
   overflow: hidden;
   border-radius: 15px;
}
.poster-album-activity img {
   transition: 0.5s;
}

.poster-album-activity img {
   width: 100%;
   height: auto;
}
.poster-album-activity span {
   position: absolute;
   bottom: 15px;
   left: 15px;
   background-color: #f7f7f7;
   padding: 11px 23px 7px;
   color: #5bdb90;
   font-size: 21px;
   font-weight: bold;
   border-radius: 10px;
   line-height: 100%;
   z-index: 1;
}
.poster-item-activity {
   margin: 25px 0px 0px;
}
.poster-warrper-activity:hover .read-more.add-campaign-btn {
   background-color: #7cb4c8;
   color: #fff;
}
.poster-item-activity h4 {
   font-size: 19px;
   line-height: 28px;
   font-weight: bold;
}
.poster-item-activity span {
   font-size: 14px;
   margin: 10px 0px;
   display: flex;
   align-items: center;
   font-weight: 500;
   color: #152738;
}
.poster-item-activity span svg {
   margin-right: 4px;
}
.activity-box {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   max-height: 925px;
   overflow-y: auto;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 15px;
}
.activity-box .row .col-12:first-child .poster-warrper-activity {
   margin-top: 0;
}
.activity-box .row .col-12:nth-child(2) .poster-warrper-activity {
   margin-top: 0px;
}
.activity-box::-webkit-scrollbar {
   width: 3px;
 }
 
 /* Track */
 .activity-box::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
 .activity-box::-webkit-scrollbar-thumb {
   background: #000000; 
 }
 
 /* Handle on hover */
 .activity-box::-webkit-scrollbar-thumb:hover {
   background: #cccccc; 
 }
 .stricky-activity {
   position: -webkit-sticky;
   position: sticky;
   top: 30px;
}
.poster-album-activity figure {
   margin-bottom: 0px;
}
.poster-album-activity .owl-dots {
   margin-top: 0px !important;
   position: absolute;
   bottom: 28px;
   right: 12px;
   background-color: transparent;
}
.poster-album-activity .owl-dots button span {
   width: 0px !important;
   background-color: transparent !important;
   margin: 0px !important;
   padding: 0px !important;
   height: 0px !important;
}
.filter-modal-custom .modal-dialog {
   max-width: 1000px;
   border-radius: 20px;
   overflow: hidden;
}
.filter-modal-custom .modal-header {
   justify-content: center;
   background-color: #f3f3f3;
   border-bottom: 0px;
}
.filter-modal-custom .modal-header h5 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 26px;
   font-weight: 800;
}
.filter-modal-custom .modal-header h5 img {
   width: 18px;
   margin-right: 10px;
}
.filter-modal-custom .modal-header .btn-close {
   position: absolute;
   right: 34px;
}
.filter-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 4rem;
   border-top: 1px solid #ccc;
}
.read-more.view-all-btn {
   color: #7cb4c8;
   background-color: transparent;
   border: 1px solid #ccc;
   font-size: 19px;
}
.read-more.show-more-btn {
   display: block;
   font-size: 19px;
}
.budget-data {
   padding: 4rem 4rem;
}
.fiter-title h3 {
   font-size: 28px;
   font-weight: bold;
}
.budget-range {
   padding-top: 30px;
}
.place-data-check {
   padding-top: 40px;
}
.checkbox-design input:before {
   content: '';
   width: 30px;
   height: 30px;
   border: 1px solid #ccc;
   position: absolute;
   top: 0;
   border-radius: 8px;
   visibility: visible;
}

.checkbox-design input {
   width: 30px;
   height: 30px;
   position: relative;
   visibility: hidden;
}
.data-check-place {
   padding-top: 25px;
}
.place-data {
   padding: 4rem 4rem;
   border-top: 1px solid #ccc;
}
.data-check-place h4 {
   margin-bottom: 15px;
   font-size: 24px;
   font-weight: bold;
}
.checkbox-design label {
   position: absolute;
   cursor: pointer;
   left: 0;
   top: 0;
}
.checkbox-design label:before{
   border: 1px solid #ccc;
   background-color: transparent;
   box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
   padding: 10px;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   cursor: pointer;
   margin-right: 0px;
   width: 30px;
   height: 30px;
   border-radius: 10px;
   content: '';
   -webkit-appearance: none;
}
.checkbox-design {
   position: relative;
}
.checkbox-design input:checked + label:before {
   background-color: #152738;
   border: 2px solid #152738;
   box-shadow: 1px 3px 12px 4px #0000001f;

}
.checkbox-design input:checked + label:after {
   content: '';
   display: block;
   position: absolute;
   top: 6px;
   left: 11px;
   width: 6px;
   height: 14px;
   border: solid #ffffff;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
}
.data-check-place p {
   font-size: 18px;
   color: #636363;
}
.place-data.campaign-filter-data .place-data-check {
   display: flex;
   align-items: flex-start;
}
.place-data.campaign-filter-data .place-data-check .data-check-place {
   padding-top: 0px;
   margin-bottom: 0px;
   margin-left: 8px;
}
.place-data.campaign-filter-data .place-data-check .data-check-place h4 {
   margin-bottom: 0px;
   font-weight: normal;
   font-size: 21px;
   margin-left: 15px;
}
.booking-item-data h4 {
   margin-bottom: 10px;
   font-size: 24px;
   font-weight: bold;
}
.booking-item-data p {
   font-size: 18px;
   color: #636363;
}
.booking-option-fiter ul li {
   padding-top: 35px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.switch {
   display: inline-block;
   height: 34px;
   position: relative;
   width: 60px;
}
.switch input {
   display: none;
}
.slider.round {
   border-radius: 34px;
}

.slider {
   background-color: #efefef;
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
}
.slider.round:before {
   border-radius: 50%;
}
.slider:before {
   background-color: #fff;
   bottom: 4px;
   content: "";
   height: 26px;
   left: 4px;
   position: absolute;
   transition: .4s;
   width: 26px;
   background-size: 13px;
   background-repeat: no-repeat;
   background-position: center;
}
.switch input:checked + .slider {
   background-color: #152738;
}
.switch input:checked + .slider:before{
   background-image: url(../img/check-solid.svg);
}
.switch input:checked + .slider:before {
   transform: translateX(26px);
}

.welcome-data p {
   font-size: 21px;
   line-height: normal;
   color: #404040;
}

.welcome-data h1 {
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 40px;
}
.welcome-data {
   text-align: center;
}
.container-custom {
   width: 85%;
   margin: 0 auto;
}
.advertising-section.section-padding {
   padding-top: 0px;
}
.owner-details, .perdid-time, .budget-item {
   display: flex;
   align-items: center;
}
.owner-data-warrer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 35px;
}
.icon-image-details img {
   border-radius: 50%;
   width: 100%;
   max-width: 85px;
   height: 100%;
   max-height: 85px;
}
.owner-data h2 {
   font-size: 25px;
}
.owner-data h6 {
   color: #989898;
   font-size: 15px;
}
.read-more.owner-btn {
   display: inline-block;
   padding: 9px 16px;
   background-color: #7cb4c8;
   font-size: 17px;
   font-weight: 600;
   margin-top: 10px;
}
.description-points h3 strong {
   color: #22d16c;
}
.icon-image-details.money-bag-icon img {
   max-width: 35px;
   border-radius: 0px;
}
.owner-data span svg {
   margin-right: 3px;
}

.owner-data span {
   font-size: 16px;
}
.owner-data h2 {
   font-size: 25px;
   margin: 5px 0px;
}
.owner-data-warrer .owner-details {
   align-items: flex-start;
}
.icon-image-details {
   width: 20%;
   margin-right: 15px;
   min-width: 85px;
   border: 1px solid #ccc;
   border-radius: 50%;
   max-height: 85px;
   min-height: 85px;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 85px;
}
.perdid-time {
   width: 50%;
   padding: 0px 20px;
}
.budget-item {
   width: 20%;
}
.owner-details {
   width: 30%;
}
.owner-data h2 strong {
   color: #22d16c;
}

.main-title-inner h2 {
   font-size: 40px;
   font-weight: bold;
}
.main-title-inner {
   margin-bottom: 40px;
}
.consiult-data {
   border: 1px solid #e5e5e5;
   border-radius: 20px;
}
.consult-card-profiles {
   width: 100%;
   display: flex;
    align-items: center;
}    
.profile-images {
   width: 20%;
   margin-right: 15px;
   min-width: 85px;
   border: 1px solid #ccc;
   border-radius: 50%;
   max-height: 85px;
   min-height: 85px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.profile-images img {
   border-radius: 50%;
   width: 100%;
   max-width: 85px;
   height: 100%;
   max-height: 85px;
}
.profile-data h2 {
   font-size: 25px;
   margin: 0px 0px;
}
.profile-data span {
   font-size: 16px;
   display: flex;
   align-items: center;
}
.consult-card {
   background-color: #fcfcfc;
   border-radius: 20px 0px 0px 20px;
   padding: 35px;
   height: 100%;
}
.profiles-description p {
   color: #636363;
   margin: 20px 0px 10px;
   font-size: 18px;
}
.profile-data span svg {
   height: 14px;
   position: relative;
   top: -1px;
   margin-right: 3px;
}
.under-stand {
   display: flex;
   padding: 35px;
   border-left: 1px solid #e5e5e5;
   height: 100%;
}
.description-points {
   width: 40%;
}
.description-points ul {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}
.description-points ul li {
   margin-bottom: 20px;
}
.description-points ul li:last-child {
   margin-bottom: 0px;
}
.description-points h4 {
   font-size: 14px;
   color: #989898;
   margin-bottom: 2px;
}
.description-points h3 {
   font-size: 1.4rem;
   color: #404040;
}
.profile-thumbnails {
   width: 60%;
   height: auto;
   padding-left: 25px;
}
.profile-thumbnails img {
   width: 100%;
   height: auto;
   border-radius: 20px;
}
.consiult-data .col-12:last-child {
   padding-left: 0px;
}
.consiult-data .col-12:first-child {
   padding-right: 0px;
}
.advertising-section .consiult-data {
   margin-bottom: 45px;
}

.request-form {
   padding: 100px;
   background-color: #152738;
   border-radius: 20px;
}
.title-heading {
   padding-bottom: 35px;
}
.title-heading h2 {
   color: #ffffff;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
}
.input-field {
   margin-bottom: 20px;
}
.input-text {
   width: 100%;
   border: 1px solid #ffff;
   padding: 20px;
   border-radius: 10px;
   color: #636363;
   font-size: 16px;
}
.input-field select {
   width: 100%;
   padding: 19px;
   border-radius: 10px;
   color: #636363;
   font-size: 16px;
}
.input-text.textarea-input {
   min-height: 140px;
}
.submit-button {
   text-align: center;
}
.read-more.submit-btn:hover {
   border-color: #ffffff;
}
.read-more.submit-btn {
   border: 1px solid #22d16b;
}
.about-campaign-image img {
   width: 100%;
   height: auto;
   border-radius: 20px;
}
.about-us-section {
   padding-top: 80px;
   padding-bottom: 100px;
}
.campaign-data-about h2 {
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 25px;
}

.read-more.campaign-btn:hover {
   background-color: #7cb4c8;
   color: #ffffff;
}

.read-more.campaign-btn {
   font-size: 18px;
   color: #7cb4c8;
   background-color: transparent;
   font-weight: 400;
   border: 1px solid #ccc;
   display: inline-block;
   /* margin-top: 20px; */
}

.campaign-data-about p {
   font-size: 21px;
   line-height: normal;
   color: #404040;
   margin-bottom: 30px;
}
.about-train-campaign {
   padding-left: 80px;
   height: 100%;
   display: flex;
   align-items: center;
}

/* single page */

.scampaign-data-page {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.Campaign-title h2 {
   font-size: 40px;
}
.Campaign-title h6 {
   font-size: 17px;
   font-weight: 500;
   color: #152738;
}
.share-data-link {
   display: flex;
   align-items: center;
}
.share-data-link a {
   display: flex;
   align-items: center;
   padding: 9px 15px;
   border: 1px solid #e5e5e5;
   border-radius: 10px;
   margin-left: 10px;
   font-size: 17px;
   font-weight: 500;
   color: #404040;
}
.share-data-link a img {
   width: 16px;
   margin-right: 4px;
}
.campaign-full-description p {
   font-size: 21px;
   color: #404040;
   margin-bottom: 20px;
}

.campaign-full-description {
   padding-top: 40px;
}
.single-gallery-data {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.single-gallery-data .item-gallery:nth-child(1) {
   width: 35%;
   min-height: 250px;
}
.item-gallery {
   margin-bottom: 20px;
   border-radius: 20px;
   overflow: hidden;
   min-height: 211px;
}
.single-gallery-data .item-gallery:nth-child(2) {
   width: 59%;
   margin-left: 20px;
   min-height: 250px;
}
.single-gallery-data .item-gallery:nth-child(3) {
   width: 100%;
}
.single-gallery-data .item-gallery:nth-child(4) {
   width: 47%;
   margin-right: 10px;
}
.single-gallery-data .item-gallery:nth-child(5) {
   width: 47%;
   margin-left: 10px;
}
.item-gallery img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.single-campaign-data {
   padding-right: 40px;
}
.item-gallery.last-gallery {
   position: relative;
   transition: 0.5s;
}
.view-all-gallery {
   position: absolute;
   top: 0;
   z-index: 1;
   height: 100%;
   width: 100%;
   background-color: rgb(0 0 0 / 50%);
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.view-all-gallery h6:before {
   content: '';
   width: 100%;
   height: 2px;
   background-color: #ffffff;
   position: absolute;
   bottom: -3px;
   left: 0;
   transition: 0.5s;
}
.item-gallery.last-gallery:hover .view-all-gallery h6:before {
   width: 0;
}

.view-all-gallery h6 {
   color: #fff;
   position: relative;
   font-size: 20px;
   font-weight: bold;
}
.other-space.section-padding {
   padding-top: 0px;
}
.other-space .poster-item span {
   font-size: 14px;
}
.main-title-section h2 {
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 40px;
}
.read-more.add-campaign-btn.campaign-btn-single {
   margin-top: 25px;
   font-weight: 500;
}
.campaign-map-image img {
   width: 100%;
   border-radius: 20px;
}
.map-data {
   position: sticky;
   -webkit-position: sticky;
   top: 60px;
}
.other-space .poster-item p {
   font-size: 19px;
}
.logo-history {
   width: 100%;
   height: auto;
   padding: 20px;
   background-color: #f6f6f6;
   border-radius: 20px;
}
.logo-history img {
   width: 100%;
   height: auto;
}
.history-content {
   padding-top: 25px;
}
.history-content h2 {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 13px;
}
.history-content p {
   font-size: 16px;
}
.review-box:after {
   content: '';
   width: 86%;
   margin: 0 auto;
   background-color: #7cb4c8;
   position: absolute;
   top: -2px;
   border-top: 4px solid #7cb4c8;
   left: -24px;
   text-align: center;
   right: 0;
   transform: skewX(297deg);
}

.review-box:before {
   content: '';
   width: 87%;
   margin: 0 auto;
   background-color: #7cb4c8;
   position: absolute;
   top: -2px;
   border-top: 4px solid #7cb4c8;
   left: 0;
   text-align: center;
   right: -18px;
   transform: skewX(45deg);
}
.history-warrper {
   padding-top: 70px;
}
.review-box {
   background-color: #ffffff;
   box-shadow: -4px 1px 17px 2px #00000012;
   border-radius: 20px 20px 20px 20px;
   position: relative;
   margin-top: 100px;
   margin-left: 20%;
}
.single-campaign-data .poster-item {
   margin-bottom: 0px;
}
@media screen and (min-width: 1025px) and (max-width: 1399px) {
   .single-campaign-data .poster-item {
      margin-bottom: 40px;
   }
}
.review-image {
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 50%;
   max-width: 120px;
   min-width: 120px;
   min-height: 120px;
   max-height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   margin: -50px auto 0px;
   position: relative;
   z-index: 1;
   transform: translate(0%, -52%);
   background-color: #ffffff;
}
.review-image img {
   border-radius: 50%;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.review-data {
   position: relative;
   margin-top: -35px;
   text-align: center;
   padding-bottom: 30px;
}
.review-data h2 {
   font-size: 28px;
   margin-bottom: 3px;
}
.review-data p {
   margin-bottom: 24px;
   font-size: 16px;
   color: #a3a3a3;
}
.review-data span {
   margin-bottom: 0;
   font-size: 16px;
   color: #a3a3a3;
   display: block;
}
.review-data a {
   font-size: 19px;
   color: #22d16b;
}
.review-star {
   text-align: center;
   padding: 30px;
   background-color: fbfbfb;
   border-radius: 0px 0px 20px 20px;
}
.review-star h4 {
   font-size: 23px;
   font-weight: bold;
   margin-bottom: 5px;
}
.review-star ul {
   display: flex;
   align-items: center;
   justify-content: center;
}
.review-star ul li:last-child {
   margin-right: 0px;
}

.review-star ul li {
   margin-right: 3px;
}
.review-star img {
   width: 16px;
}
.review-star p {
   font-size: 15px;
   margin-top: 6px;
}
.request-form-campaign {
   padding: 30px;
   background-color: #152738;
   border-radius: 20px;
   margin-left: 20%;
   margin-top: 40px;
}
.request-form-campaign .title-heading h2 {
   font-size: 35px;
}
.request-form-campaign .read-more.submit-btn {
   width: 100%;
}
.request-form-campaign .input-text {
   padding: 15px;
}
.section-padding.message-screen-section {
   background-color: #f9f9f9;
   /* height: 100vh; */
   padding: 30px 0px 90px;
}
.main-message-heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 35px;
}
.message-title h2 {
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 0px;
}

.fillter-selected select {
   padding: 12px 25px;
   font-size: 17px;
   border-radius: 15px;
   border: 1px solid #cccccc;
   box-shadow: 1px 1px 20px 7px #0000000d;
   color: #636363;
}
.screen-message-warrper {
   display: grid;
   grid-template-columns: 34% 66%;
   align-items: flex-start;
}
.header-sidebar-message {
   background-color: #e5e5e5;
   padding: 15px;
   border-radius: 15px 0px 0px 0px;
}
.header-sidebar-message form {
   display: flex;
   align-items: center;
}
.header-sidebar-message input {
   width: 100%;
   padding: 10px 10px 10px 35px;
   border: 0px;
   border-radius: 15px 0px 0px 15px;
   position: relative;
}
.header-sidebar-message select {
   padding: 9px;
   border: 0px;
   min-height: 44px;
   border-radius: 0px 15px 15px 0px;
   background-color: #f7f7f7;
}
.header-sidebar-message input:before {
   content: '';
   position: absolute;
   top: 0;
   background-color: #000;
   width: 25px;
   height: 25px;
   left: 0;
   z-index: 1;
}
.input-serch-icon {
   width: 100%;
   position: relative;
}
.input-serch-icon img {
   position: absolute;
   width: 14px;
   z-index: 1;
   top: 15px;
   left: 13px;
}
.dashborad-message {
   width: 100%;
   padding: 15px;
   background-color: #f2f2f2;
   border-radius: 0px 15px 0px 0px;
   min-height: 74px;
}
.dashbroad-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.dashbroad-profile {
   display: grid;
   align-items: center;
   margin-right: 6px;
   grid-template-columns: 30% 53%;
   max-width: 118px;
}
.profiles-images {
   border-radius: 50%;
   overflow: hidden;
}
.adtive-profiles {
   width: 73px;
   margin-left: 5px;
}
.adtive-profiles h2 {
   font-size: 17px;
   font-weight: 500;
}
.adtive-profiles h6 {
   font-size: 13px;
   color: #636363;
}
.similar-dashboard {
   margin-right: 10px;
}
.similar-dashboard h2 {
   font-size: 13px;
   margin-top: 3px;
}
.video-icon-data {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 93px;
   justify-content: space-between;
}
.video-icon-data a.icon-new-data {
   width: 35px;
   height: 35px;
   background-color: #ffff;
   border: 1px solid #cccc;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.video-icon-data img {
   width: 20px;
}
.dots-vertical {
   border: 0px;
}
.similar-dashboard h2 strong {
   color: #22d16b;
}
.body-sidebar-message {
   background-color: #ffff;
   border-radius: 0px 0px 0px 15px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   overflow-y: auto;
   height: 100%;
   max-height: 737px;
}
.body-sidebar-message ul li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   margin: 0 5px;
}
.screenbox-area {
   width: 100%;
   min-height: 721px;
   background-color: #fff;
   max-height: 785px;
   border-radius: 0px 0px 15px 0px;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   padding: 20px;
}
.sidebar-profiles {
   display: grid;
   align-items: center;
   margin-right: 5px;
   grid-template-columns: 30% 53%;
   max-width: 114px;
}
.sidebar-profiles-images {
   border-radius: 50%;
   overflow: hidden;
}
.sidebar-adtive-profiles {
   width: 76px;
   margin-left: 5px;
}
.sidebar-adtive-profiles h2 {
   font-size: 12px;
   font-weight: 500;
   margin-bottom: 4px;
}
.sidebar-adtive-profiles h6 {
   font-size: 10px;
   color: #989898;
   margin-bottom: 3px;
}
.sidebar-adtive-profiles h4 {
   font-size: 11px;
   color: #636363;
   font-weight: 500;
}
.similar-dashboard {
   margin-right: 10px;
}
.similar-dashboard h6 {
   font-size: 10px;
   color: #989898;
}
.similar-dashboard span {
   display: inline-block;
   font-size: 9px;
   margin-bottom: 6px;
   color: #aaaaaa;
}
.body-sidebar-message .similar-dashboard h2 {
   font-size: 10px;
   font-weight: 500;
}
.body-sidebar-message ul li.active-chat {
   background-color: #152738;
   border-radius: 15px;
}
.body-sidebar-message ul li.active-chat .sidebar-adtive-profiles h2 {
   color: #fff;
}
.body-sidebar-message ul li.active-chat .sidebar-adtive-profiles h4 {
   color: #fff;
}
.body-sidebar-message ul li.active-chat .similar-dashboard h2 {
   color: #ffffff;
}

.chat-recived {
   grid-template-columns: 55px 85%;
   margin-left: auto;
   display: flex;
   padding-right: 0px;
   align-items: flex-start;
   justify-content: flex-start;
   margin-bottom: 20px;
}
.icon-image-chat {
   width: 45px;
   border-radius: 50%;
   height: 45px;
   overflow: hidden;
}
.chat-recived-message {
   padding-left: 16px;
   width: fit-content;
   max-width: 730px;
}
.chat-recived-message-box {
   width: fit-content;
   padding: 12px 15px;
   background-color: #f2f2f2;
   border-radius: 10px 10px 10px 0px;
}
.chat-recived-message-box h4 {
   font-size: 18px;
   font-weight: normal;
   color: #404040;
}
.chat-recived-message h6 {
   text-align: right;
   font-size: 15px;
   margin-top: 10px;
   color: #aaaaaa;
   font-weight: 500;
}
.chat-recived.sending-chats {
   grid-template-columns: 55px 85%;
   flex-direction: row-reverse;
   margin-left: auto;
   text-align: right;
   display: flex;
   padding-right: 0px;
   align-items: flex-start;
   justify-content: flex-start;
}
.chat-recived.sending-chats .chat-recived-message {
   padding-right: 16px;
   padding-left: 0px;
}
.chat-recived.sending-chats .chat-recived-message .chat-recived-message-box {
   border-radius: 10px 10px 0px 10px;
   background-color: #152737;
}
.chat-recived.sending-chats .chat-recived-message .chat-recived-message-box h4 {
   color: #fff;
}
.chat-recived.sending-chats .chat-recived-message h6 {
   text-align: left;
}
.chat-recived.sending-chats .chat-recived-message .chat-recived-message-box.files-sending {
   margin-left: auto;
}
.chat-recived.sending-chats.files-select .chat-recived-message-box {
   display: flex;
   align-items: center;
   background-color: #1d3750;
   padding: 0px 20px 0px 0px;
}
.download-icon {
   width: 58px;
   background-color: #152737;
   height: 58px;
   border-radius: 10px 0px 0px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 14px;
}
.chat-recived.sending-chats.files-select .chat-recived-message-box h4 {
   padding: 7px 0px 6px 10px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}
.chat-recived.sending-chats.files-select .chat-recived-message-box h4 span.files-size {
   font-size: 12px;
   margin-top: 4px;
}
.chat-recived.sending-chats.same-time-file {
   margin-bottom: 15px;
}
.chat-recived.sending-chats.same-time-file .chat-recived-message h6 {
   display: none;
}
.message-type-area-select {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}
.message-type-area-select input {
   padding: 15px;
   border: 1px solid #dddddf;
   border-radius: 15px;
   width: 100%;
   padding-right: 240px;
   font-size: 18px;
   color: #636363;
}
.send-button {
   display: flex;
   align-items: center;
   position: absolute;
   right: 0;
}
.send-button button {
   border: 0px;
   background-color: transparent;
   margin-left: 15px;
}
.send-button img {
   width: 20px;
}
.send-button button.read-more {
   background-color: #22d16b;
   margin-left: 20px;
   display: flex;
   align-items: center;
   line-height: normal;
}
button.read-more.send-chat-message-btn img {
   width: 18px;
   margin-left: 10px;
}
.body-sidebar-message::-webkit-scrollbar {
   width: 7px;
 }
 
 /* Track */
 .body-sidebar-message::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
 .body-sidebar-message::-webkit-scrollbar-thumb {
   background: #0e0e0e; 
 }
 
 /* Handle on hover */
 .body-sidebar-message::-webkit-scrollbar-thumb:hover {
   background: #0e0e0e; 
 }
 .similar-dashboard.budget-status-sidebar {
   text-align: right;
   margin-right: 0px;
}
.bottom-button-warrper button.red-more-delete {
   background-color: #ffeeee;
   color: #fe4848;
}

.bottom-button-warrper button {
   font-size: 16px;
   border: 1px solid transparent;
   background-color: f2f2f2;
   border-radius: 7px;
   padding: 6px 15px;
   margin-right: 10px;
}
.bottom-button-warrper {
   margin-top: 15px;
}
.input-search-warrper button.ui-datepicker-current {
   display: none;
}
.main-header.without-filter-header .main-header-warrper {
   padding-bottom: 0px;
}

/* Mobile view filter start */

.mobile-view-filter-btn .site-search-bar {
   width: 100%;
   max-width: 100%;
   display: block;
}
.mobile-view-filter-btn {
   display: none;
}
.custom-date-pop .modal-body {
   padding: 40px;
}

.custom-date-pop .modal-dialog .btn-close {
   position: absolute;
   right: 9px;
   top: 7px;
   z-index: 11;
}
.custom-date-pop .modal-dialog {
   max-width: 936px;
}
.custom-date-pop .ui-datepicker-buttonpane.ui-widget-content {
   display: none;
}

.custom-date-pop button.custom-date-button.active-date-point {
   background-color: #f2f2f2;
   border-color: transparent;
}
.custom-date-pop button.custom-date-button {
   background-color: #ffffff;
   border: 1px solid #636363;
   width: auto;
   padding: 8px 20px;
   height: auto;
   right: 0;
   margin-right: 8px;
   color: #636363;
   transition: 0.5s;
   border-radius: 10px;
}
.custom-date-pop .ui-datepicker-group{
   float: none !important;
}
.custom-date-pop .ui-datepicker-inline {
   width: 100% !important;
   display: flex !important;
   align-items: flex-start;
}
.custom-date-pop .bottom-date-item {
   padding-top: 30px;
}
.custom-date-pop .modal-content{
   border-radius: 10px;
}
.romo-popup .romo-map, .budget-popup .header-filter-menu {
   width: 100%;
   background-color: #ffff;
   border-radius: 10px;
   padding: 30px;
   z-index: 9;
}
.romo-popup .review-romo-top button {
   position: absolute;
   left: 13px;
   background-color: transparent;
   width: 17px;
   height: 17px;
   top: 20px;
   border: 0px;
}
.romo-popup .owl-nav button {
   background-color: #22d16c !important;
   position: relative;
   right: 0;
   border: 1px solid #22d16c !important;
   width: 30px;
   height: 30px;
   border-radius: 50% !important;
   top: 0px;
   color: #ffffff !important;
   font-size: 13px !important;
   z-index: 99999 !important;
   margin: 0px !important;
}
.romo-popup .owl-nav button.owl-next.disabled {
   border: 1px solid #ccc !important;
   background-color: transparent !important;
   color: #000000 !important;
}
.romo-popup .owl-nav button.owl-prev.disabled {
   border: 1px solid #ccc !important;
   background-color: transparent !important;
   color: #000000 !important;
}

.budget-popup .read-more.budget-btn-header {
   border: 0px;
}

button#filter-mobile-view-btn svg {
   width: 21px;
   height: 21px;
}

button#filter-mobile-view-btn path {
   fill: #ffffff;
}
button#filter-mobile-view-btn {
   display: none;
   border: 0px;
   background-color: #22d16c;
   height: 50px;
   border-radius: 10px;
   width: 49px;
}
.arrow-down svg {
   width: 12px;
   position: relative;
   top: -1px;

}
.arrow-down {
   display: none;
   border: 0px;
}
.dots-vertical.dropdown-toggle:after {
   display: none;
}
.dropdown-select-val .dropdown-menu {
   right: 0 !important;
   left: auto !important;
   transform: translate(1px, 50px) !important;
   padding: 0px;
   min-width: 13rem;
   border: 0px;
   box-shadow: -4px 11px 8px 7px #00000012;
}
.dropdown-select-val {
   position: relative;
}
.dropdown-select-val .dropdown-menu li {
   padding: 10px;
   border-bottom: 1px solid #ccc;
}